name: Docker

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  SUI_RELEASE: devnet-0.14.0

concurrency: docker

jobs:
  build_push:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            platform: linux/amd64
          - runner: ARM64
            platform: linux/arm64

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log into the Container registry
        uses: docker/login-action@v2.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: matrix.runner == 'ubuntu-latest'
        uses: docker/setup-buildx-action@v2.0.0

      - name: Bake sui-node
        uses: docker/bake-action@v2.2.0
        with:
          targets: sui-node
          push: ${{ github.event_name == 'push' }}
          load: ${{ github.event_name != 'push' }}
        env:
          PLATFORM: ${{ matrix.platform }}

      - name: Bake sui
        uses: docker/bake-action@v2.2.0
        with:
          targets: sui
          push: ${{ github.event_name == 'push' }}
          load: ${{ github.event_name != 'push' }}
        env:
          PLATFORM: ${{ matrix.platform }}

  manifest:
    strategy:
      fail-fast: false
      matrix:
        target: [sui-node, sui]

    needs: build_push
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Log into the Container registry
        uses: docker/login-action@v2.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest
        run: |
          docker buildx imagetools create -t ghcr.io/shinamicorp/${{ matrix.target }}:${{ env.SUI_RELEASE }} \
            ghcr.io/shinamicorp/${{ matrix.target }}:${{ env.SUI_RELEASE }}-linux-amd64 \
            ghcr.io/shinamicorp/${{ matrix.target }}:${{ env.SUI_RELEASE }}-linux-arm64 \
